<% if customer_signed_in? %>
<div class="row">
  <div class="large-8 columns">
   <section>
    <%= render 'listingproducts' %>
   </section>
   <br>
  </div>
  <div class="large-1 columns">
  </div>
<div class="large-3 columns" id="userdetails">
<h3>Your cart!</h3>
<% cart_id = session[:cart_id] %>
<%= cart_id %>
<% @cart_products.each do |product| %>

<%= product.name %>
 <td><%= link_to 'Remove', {:controller => "carts", :action => "destroy", :id => product.id}, method: :delete %></td>
 <br>
  <% end %>   
<hr>
 <%= button_to 'Checkout',{:action => "checkout", :controller => "carts" , id: cart_id}, class: "small button" %>  
       



<br>
<h3>Your details</h3>

Name: <%= current_customer.name %><br></br>
Address: <%= current_customer.address %><hr>

Not correct! <%= link_to "edit here", edit_customer_registration_path, class: "small button" %>

</div>
  

</div>
<div class="row"></div>

<div class="row">

  <div class="small-11 small-centered columns">
    <% if current_customer.admin? %>
    <%= link_to 'Add New product', new_product_path,class: "button" %>
    <% end %>
  </div>

</div>


<% else %>
<div class="container">
<div class="row">
<div class="twelve columns">
<div class="panel" id="homepanel">

<h1 id="h1-home"> Welcome to shopping portal! </h1>

<%= link_to "Sign up", new_customer_registration_path, :method => :get,class: "button" %>

</div>
</div>
</div>
<% end %>

</div>